{% load static %}
<!DOCTYPE html>
<title>catalog</title>
<meta charset="UTF-8">
<meta name="main" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/w3.css'%}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    body {
        font-family: "Lato", sans-serif
    }

    .mySlides {
        display: none
    }

    .w3-bar-item {
        padding: 200px
    }

    item {
        padding: 40px;
        border: 1px silver;
    }

    hr {
        border: none;
        background-color: #3a3a3a;
        color: #3a3a3a;
        height: 2px;
    }
</style>
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
           href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <a href="/#HOME" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="/#NEW" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEW</a>
        <a href="#SUPPORT" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SUPPORT</a>
        <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ITEM</a>
        <a href="/shoper" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><img src="{%static 'shopp.png'%}"
                                                                                            style="width: 24px"></a>
    </div>
</div>


<div class="w3-container w3-content w3-padding-64 " style="max-width:800px">
    <h2 class="w3-wide w3-center">item</h2>
    <hr>
    <item>{% for item in it %}
        {% if item.image %}
        <img src="{{item.image.url}}" alt="FankoPoP" style="width:30%" class="w3-hover-opacity">
        {% endif %}
        <p><b>{{ item.name }}</b></p>
        <p class="w3-opacity">Funko POP</p>
        <p>{{ item.text }}</p>
        <button class="w3-button w3-black w3-margin-bottom"
                onclick="document.getElementById(&#39;ticketModal&#39;).style.display=&#39;block&#39;">{{item.coast}}$
        </button>
        <hr>
        {% endfor %}
    </item>
</div>
</div>
<!-- buy Modal -->

<div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal w3-center w3-padding-32 w3-black">
            <span onclick="document.getElementById(&#39;ticketModal&#39;).style.display=&#39;none&#39;"
                  class="w3-button  w3-xlarge w3-display-topright w3-red">×</span>
            <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Item</h2>
        </header>
        <div class="w3-container">
            <p><label><i class="fa fa-shopping-cart"></i> Item $100</label></p>
            <input class="w3-input w3-border" type="text" placeholder="How many?">
            <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right w3-black">PAY <i
                    class="fa fa-check"></i></button>
            <button class="w3-button w3-red w3-section"
                    onclick="document.getElementById(&#39;ticketModal&#39;).style.display=&#39;none&#39;">Close <i
                    class="fa fa-remove"></i></button>
            <p class="w3-right">Need <a href="#SUPPORT" class="w3-text-blue">help?</a></p>
        </div>
    </div>
</div>
</div>

<!-- The Support Section -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="SUPPORT">
    <h2 class="w3-wide w3-center">Support</h2>
    <p class="w3-opacity w3-center"><i>Pika-pika!?#$@&amp;</i></p>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-map-marker" style="width:30px"></i> Minsk, Belarus<br>
            <i class="fa fa-phone" style="width:30px"></i> Phone: +375 33 33 333 33<br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: Geeksupport@gmail.com<br>
        </div>
        <div class="w3-col m6">
            <form action="/action_page.php" target="_blank">
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half">
                        <label>
                            <input class="w3-input w3-border" type="text" placeholder="Name"
                                   required=""
                                   name="Name">
                        </label>
                    </div>
                    <div class="w3-half">
                        <label>
                            <input class="w3-input w3-border" type="text" placeholder="Email"
                                   required=""
                                   name="Email">
                        </label>
                    </div>
                </div>
                <label>
                    <input class="w3-input w3-border" type="text" placeholder="Message" required=""
                           name="Message">
                </label>
                <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
            </form>
        </div>
    </div>
</div>
<!-- End Page Content -->


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">

    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>

    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

