.item {
    grid-area: ini;
}
.component {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto ;
    grid-template-areas: "ini ini ini ini";
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}